==Event Requirements==
These are the requirements imposed on any event using the OWASP brand.  The requirements are cumulative as such that Regional/Theme Conferences must also comply with "All Events" requirements.  Global AppSec Conferences must also comply with "All Events" and "Regional/Theme Conference" requirements.  For additional information on event types, see [OWASP Event Definitions]

=='''All Events'''==
* All Events must be coordinated with the [[Global Conferences Committee]] and receive their approval
* Events must have an OWASP Wiki Page
* All Events must use the [http://regonline.com/ OWASP Registration System] (contact the [[Global Conferences Committee]] for access)
* Only OWASP Board members or their designates may enter into contracts on behalf of the foundation
* All finances must be handled by the OWASP Foundation unless exceptions are granted by the [[Global Conferences Committee]]
* All content must be vendor neutral
* All content must be made available to the public after the conference
* All calls for papers, training and registration must be open to the public
* All events must be conducted in a manor consistent with the [[About OWASP|OWASP Mission, Principles and Code of Ethics]]
* Free admission should be made available for OWASP Leaders, Committee and Board members

=='''Regional/Theme Conference'''==
* A complete [[Conference Budget Planning Tool|budget]] must be submitted and approved by the [[Global Conferences Committee]] 
* A board member must be present at all OWASP AppSec and Regional Conferences to provide a welcoming statement
** Travel and accommodations for the board member will be sourced from the conference budget

=='''Global AppSec Conferences'''==
* AppSec Conferences must be processed through the AppSec Call for Conferences process
* There must be associated training with the conference
* An admission fee must be charged
* Sessions must be recorded and posted to the public after the conference
* There must be at least one networking event at the conference