{{Template:<includeonly>{{{1}}}</includeonly><noinclude>Project About</noinclude>
| project_name = OWASP Application Security Requirements Project
| project_home_page = :Category:OWASP Application Security Requirements Project
| project_description = 
*The intent of this project is to assemble a useful base of generic/common web application security requirements that could be used in most projects.
*The product of this project is intended to help all involved in web application security, whether it is project management, risk assessment, software development, testing, etc.
*The reason d'etre of this project is that, whilst security requirements are sometimes well captured and clearly defined, there are other times when they are not, for any number of reasons.

| project_license = [http://creativecommons.org/licenses/by-sa/3.0/ Creative Commons Attribution ShareAlike 3.0 license]

| leader_name1 = Luis Martinez Bacha
| leader_email1 = luismartinezbacha@owasp.org
| leader_username1 = Luis_Armando_Martinez_Bacha

| contributor_name[1-10] = 
| contributor_email[1-10] = 
| contributor_username[1-10] = 

| pamphlet_link = 

| presentation_link =

| mailing_list_name = https://lists.owasp.org/mailman/listinfo/owasp-appsec-requirements 

| project_road_map = 

| links_url1 = https://www.owasp.org/index.php/High_Level_Requirements_Categories
| links_name1 = High Level Requirements Categories

| links_url2 = https://www.owasp.org/index.php/Tips_for_using_the_project%27s_requirements,_use-cases,_and_user_stories
| links_name2 = Tips for using the project's requirements, use-cases, and user stories

| links_url3 = https://www.owasp.org/index.php/Other_really_good_requirements_that_aren%27t_generic_enough_to_be_part_of_the_project_but_that_might_be_what_you%27re_looking_for_in_YOUR_environment
| links_name3 = Other really good requirements that aren't generic enough to be part of the project but that might be what you're looking for in YOUR environment

| links_url4 = 
| links_name4 = 

| links_url[5-10] = 
| links_name[5-10] = 

| release_1 = 
| release_2 = 
| release_3 =
| release_4 =

<!--- The line below is for GPC usage only. Please do not edit it --->
| project_about_page = Projects/OWASP Application Security Requirements Project

}}